<form action="/favourites" method="POST">
    <input type="hidden" name="id" value="<%= home._id %>">
    <button type="submit" style="color: white; background-color: purple; margin-top:10px;  border-radius:5px; margin-bottom:5px;">Add to Favourites</button>
  </form>